:root {
  --title-main-padding: 20px;
  --title-font: 3.4rem;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(49,49,49, 0.7);
  padding-top: 15px;
  padding-bottom: 20px;
  color: rgb(232, 232, 232);
  padding-left: 20px;
  border-bottom: solid gold;
}


header h1 {
  padding-left: var(--title-main-padding);
  font-size: var(--title-font)
}

header h3 {
  font-style: italic;
  font-size: calc(var(--title-font) - 1.75rem);
  opacity: 0.7;
  transform: translateY(-20px);
  padding-left: calc(var(--title-main-padding) + 8px);
}

.author, .author h4 {
  margin: 0;
}

.author {
  padding-top: 5px;
  font-style: italic;
  opacity: 0.6;
  font-size: 1.3;
  text-indent: 1.4rem;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.introduction h2 {
  padding-top: 2%;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  border-bottom: 5px solid black;
  padding-bottom: 2%;
  width: 80%;

}

.intro-p-one {
  background-color:rgba(255,213,79, 0.7) ;
  display: flex;
  justify-content: center;
}
.introduction .intro-p-one p {
  padding-left: 2%;
  text-indent: 1.8rem;
  width: 60%;
}

.introduction h3 {
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  border-bottom: 2px solid black;
  padding-bottom: 2%;
  width: 70%;
  text-align: center;
}

