:root {
    --title-main-padding: 20px;
    --title-font: 3.4rem;
    --title-background-color: 255,213,79

  }
  
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
  
  
nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
    padding-right: 2%;
  }
  
  nav button {
    width: 20%;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    color: grey;
    font-family: inherit;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid black;
    transition: .3s ease-in;
  }
  
  nav button:hover {
    letter-spacing: 1px;
    color: black;
    transition: .3s ease-in-out;
    }
nav button a, nav button a:hover, nav button a:active{
    text-decoration: none;
    color: inherit;
    margin: 0;
  }


header {
  padding-top: 1rem;
  background-color: rgba(var(--title-background-color), 0.7);
}

h1 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    border-bottom: 4px solid black;
    text-align: center;
    padding-bottom: 1rem;
    

}

h1, .citation {
    margin-left: auto;
    margin-right: auto;
}
.citation {
    width: 70%;
    text-indent: -0.5in;
    margin-left: 0.5in;
    display: block;
    padding-left: 10%
}

a {
    text-decoration: underline;
    color: blue;

}

a:hover {
  text-decoration: none;
}

em {
    font-style: italic;
}
